header {
  display: flex;
  gap: 3rem;
  align-items: center;
}
header .header__logo {
  width: 8rem;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
